@import "tailwindcss";

html,body{
    overflow-x: hidden;
}

.home{
    background: url(./assets//homeBg1.svg) rgb(0, 25, 0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.service{
    background: url(./assets/homeBg1.svg) rgb(0, 25, 0);
    background-size: contain 10px;
    background-position: top;
    background-repeat: no-repeat;
}
